@import 'global';

$container-width-base: 1024px !default;

.container {
  max-width: $container-width-base;
  width: 96%;
  margin-right: auto;
  margin-left: auto;

  @media all and (min-width: 768px) {
    width: 100%;
  }

  &--flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--full {
    min-height: 100%;
  }
}
